.git
.gitignore
.gitattributes
.gitmodules
.githooks
.gitlab-ci.yml
/.githooks

__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
*.md

/td_output
/kmer

docker-compose.yml
Dockerfile
run_primer3.py
run_slicer.py
